.list-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 500px;
  background-color: #f7941e;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 5px;
}

.list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.list-item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  width: 100%;
}

.list-item:hover {
  cursor: pointer;
  background-color: #0a70b6;
  border-radius: 20px;
}

.list-item-active {
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #0a70b6;
  border-radius: 20px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
