.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/* Sub Header Style */

.sub-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #f7941e;
  height: 46px;
  line-height: 46px;
  color: #ffffff;
}

.sub-header ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.sub-header ul li {
  display: inline-block;
  padding: 0px 20px;
}

.sub-header ul li i {
  padding-right: 5px;
}

.sub-header ul.left-info li {
  border-left: 1px solid rgba(250, 250, 250, 0.3);
  padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.sub-header ul.left-info li i {
  margin-right: 10px;
  font-size: 18px;
}

.sub-header ul.left-info li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.sub-header ul.right-icons {
  float: right;
}

.sub-header ul.right-icons li {
  margin-right: -4px;
  width: 46px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.sub-header ul.right-icons li:first-child {
  border-left: 1px solid rgba(250, 250, 250, 0.3);
}

.sub-header ul.right-icons li a {
  color: #fff;
  transition: all 0.3s;
}

.sub-header ul.right-icons li a:hover {
  opacity: 0.75;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 1rem; */
  padding-top: 0px !important;
  background-color: #ffffff;
  border-bottom: 1px solid #e9e9e9;
}

.desktop-device-show {
  display: block !important;
}

.desktop-device-show .navbar-nav {
  justify-content: flex-end;
  flex-direction: row;
}

.mobile-device-show {
  display: none !important;
}

.mobile-device-show .navbar-nav {
  flex-direction: column;
}

.header-logo {
  height: 80px;
  width: 150px;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #3b3b3b;
  cursor: pointer;
}

.menu-item-active {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  color: #0a70b6;
}

.sign-up {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #0a70b6;
}

.login {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #f7941e;
}

.menu-item:hover {
  color: #0a70b6;
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-weight: normal;
  text-transform: none;
}

.menu-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-list a:hover {
  background-color: #f1f1f1;
}

.menu-item:hover .menu-list {
  display: block;
}

@media (max-width: 576px) {
  .sub-header {
    font-size: 13px;
  }

  .container-fluid {
    max-width: 540px;
  }
  .desktop-device-show {
    display: none !important;
  }

  .mobile-device-show {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .container-fluid {
    max-width: 540px;
  }
  .desktop-device-show {
    display: none !important;
  }

  .mobile-device-show {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 762px;
  }

  .desktop-device-show {
    display: none !important;
  }

  .mobile-device-show {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 960px;
  }

  .desktop-device-show {
    display: block !important;
  }

  .mobile-device-show {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1160px;
  }

  .desktop-device-show {
    display: block !important;
  }

  .mobile-device-show {
    display: none !important;
  }
}
