.hero-banner {
  height: 700px;
  width: 100vw;
  background-image: linear-gradient(
      rgb(10, 112, 182, 0.74),
      rgb(10, 112, 182, 0.74)
    ),
    url("../../../assets/slide_img.png");
  padding: 20px 40px;
}

.slide-1 {
  height: 600px;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
}

.slide-1 h1 {
  color: #ffffff;
  font-size: 57px;
}

@media (max-width: 576px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 35px;
  }
}

@media (min-width: 576px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 57px;
  }
}

@media (min-width: 1200px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 57px;
  }
}
