.hero-banner {
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.slider-bg-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  height: 80px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.slider-bg-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #0d0d0d;
  padding: 15px 50px;
  /* height: 170px; */
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.slider-bg-bottom .title-container {
  color: #ffffff !important;
  padding-bottom: 10px;
}

.slider-bg-bottom .title-with-underline {
  color: #ffffff !important;
  border-bottom: 5px solid #ffffff;
  animation: showup 10s;
}

.slider-bg-bottom .why-nyt-section {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-bg-bottom .why-icon {
  padding: 10px 25px;
}

.slider-bg-bottom .why-icon img {
  height: 65px;
  width: 100px;
}

.slider-bg-bottom .why-icon p {
  padding-top: 10px;
  font-size: 14px;
}

.hero-banner .slick-next {
  right: 50px !important;
}

.hero-banner .slick-prev {
  left: 50px !important;
  z-index: 1;
}

.hero-banner .slick-dots {
  bottom: 25px !important;
}

.slide-1 {
  height: 500px;
  width: 100%;
  background-image: url("../../../assets/slider-1.png");
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.slide-2 {
  height: 500px;
  background-image: url("../../../assets/slider-2.png");
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  padding: 0px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.slide-3 {
  height: 500px;
  background-image: url("../../../assets/slider-3.png");
  /* background-image: linear-gradient(
      rgb(10, 112, 182, 0.4),
      rgb(10, 112, 182, 0.4)
    ),
    url("../../../assets/slider-3.png"); */
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  color: #ffffff;
  font-size: 37px;
}

.slide-1 h1 {
  animation: an 1s ease-out 1 both;
}

.slide-2 h1 {
  animation: an 1s ease-out 1 both;
}

.slide-3 h1 {
  animation: an 1s ease-out 1 both;
}

.hot-requirements {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.hot-requirements:hover {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.hot-requirements-small {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.hot-requirements-small:hover {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

/* animations */
@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@media (max-width: 576px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
  }
}

@media (min-width: 576px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
  }
}

@media (min-width: 768px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@media (min-width: 992px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 37px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
  }
  .slide-3 h1 {
    color: #ffffff;
    font-size: 37px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .slide-1 h1 {
    color: #ffffff;
    font-size: 37px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
  }
  .slide-2 h1 {
    color: #ffffff;
    font-size: 37px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
    text-align: right;
  }
  .slide-3 h1 {
    color: #ffffff;
    font-size: 37px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: -8%;
    text-align: right;
  }
}
