.content-section {
  padding: 50px 120px;
  background-color: #fff;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-with-underline {
  text-align: center;
  color: #444444;
  font-size: 42px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 5px solid #0a70b6;
}

.content-section .course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.content-section .course-container .course-item {
  width: 400px;
  height: 550px;
  margin: 15px;
  padding: 15px;
  background-color: #fbfbfb;
  border: 1px solid #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.content-section .course-container .course-item .course-image {
  height: 200px;
  width: 370px;
}

.content-section .course-container .course-item .course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding-top: 10px;
}

.content-section .course-container .course-item .course-info h2 {
  color: #0a70b6;
  font-size: 25px;
  padding: 5px 10px;
}

.content-section .course-container .course-item a {
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  color: #0a70b6;
  font-weight: bold;
  padding: 7px 20px;
  border: 1px solid #0a70b6;
  border-radius: 25px;
  text-decoration: none;
}

.content-section .course-container .course-item a:hover {
  color: #fff;
  background-color: #0a70b6;
}

.it-staffing-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex-grow: 1;
}

.it-staffing-container .it-staffing-image {
  flex: 1 0 50%;
}

.it-staffing-container .it-staffing-content {
  flex: 0 1 50%;
  padding: 25px 55px;
  background-color: #fbfbfb;
}

.it-staffing-container .it-staffing-content h2 {
  text-align: center;
  color: #0a70b6;
}

.it-staffing-container .it-staffing-content p {
  padding: 15px 0px;
  word-break: break-word;
}

.it-staffing-container .it-staffing-content a {
  color: #0a70b6;
  font-weight: bold;
  padding: 7px 20px;
  border: 1px solid #0a70b6;
  border-radius: 25px;
  text-decoration: none;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex-grow: 1;
}

.projects-container .projects-image {
  flex: 0 1 50%;
}

.projects-container .projects-content {
  flex: 1 0 50%;
  padding: 25px 55px;
  background-color: #000000;
  color: #fbfbfb;
}

.projects-container .projects-content h2 {
  text-align: center;
}

.projects-container .projects-content p {
  padding: 15px 0px;
  word-break: break-word;
}

.projects-container .projects-content a {
  color: #fbfbfb;
  font-weight: bold;
  padding: 7px 20px;
  border: 1px solid #fbfbfb;
  border-radius: 25px;
  text-decoration: none;
}

.content-section .why-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.content-section .why-container .why-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 400px;
  margin: 15px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #444444;
}

.content-section .why-container .why-item .why-image {
  height: 150px;
  width: 150px;
}

.content-section .why-container .why-item .why-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-top: 10px;
}

.content-section .why-container .why-item .why-info h2 {
  color: #444444;
  font-size: 20px;
  padding: 5px 10px;
}

.client-logos-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.client-logos-container img {
  height: 100%;
  width: 100%;
  padding: 10px 25px;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
  .content-section {
    padding: 25px 25px;
  }

  .title-with-underline {
    font-size: 28px;
  }

  .content-section .course-container {
    flex-flow: column;
  }

  .content-section .why-container {
    flex-flow: column;
  }

  .content-section .course-container .course-item {
    width: 300px;
    margin: 5px;
  }

  .content-section .why-container .why-item {
    width: 300px;
    margin: 5px;
  }

  .content-section .course-container .course-item .course-image {
    width: 270px;
    height: 200px;
  }

  .projects-container {
    flex-flow: column-reverse;
  }

  .it-staffing-container {
    flex-flow: column;
  }

  .client-logos-container {
    grid-template-columns: auto auto;
  }
}
