.reviews {
  padding: 50px 20px;
  background-color: #444444;
}

.reviews .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .title-with-underline {
  text-align: center;
  color: #ffff !important;
  font-size: 42px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 5px solid #ffff;
}

.reviews-list {
  padding: 20px 40px;
}

.review-card {
  padding: 0px 25px;
}

.review-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px 30px;
  background-color: #ffff;
}

.review-info img {
  padding: 10px 0px;
}

.review-info p {
  padding: 10px 0px;
}

.review-info a {
  color: #0a70b6;
  font-weight: bold;
  padding: 7px 20px;
  text-decoration: none;
  margin: 10px 0px;
}
