.it-staffing {
  width: 100%;
  background-image: linear-gradient(
      rgb(10, 112, 182, 0.74),
      rgb(10, 112, 182, 0.74)
    ),
    url("../../../assets/bg_03.png");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.it-staffing .header-label {
  padding: 5px 10px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 30px;
}

.it-staffing .description-content {
  padding: 5px 10px;
  color: #ffffff;
  width: 60%;
  padding-top: 5px;
}

.it-staffing .it-staffing-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.it-staffing .info-section {
  padding: 25px 5px;
  width: 70%;
}

.it-staffing .list-section {
  padding: 25px 5px;
  width: 25%;
}

.section1-container {
  padding: 15px;
}

.section1-container h1 {
  color: #444444;
  padding: 5px;
  border-bottom: 0.7px solid #444444;
}

.section1-container .title-with-underline {
  padding-top: 15px;
  width: 150px;
  text-align: center;
  color: #444444 !important;
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 5px solid #0a70b6;
}

/* Mobile View */
@media only screen and (max-width: 700px) {
  .it-staffing .it-staffing-content {
    flex-flow: column-reverse;
    justify-content: center;
  }

  .it-staffing .list-section {
    width: 100%;
  }

  .it-staffing .info-section {
    width: 100%;
  }
}
