.contact-us-container {
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.contact-us-container h1 {
  padding: 5px 10px;
  color: #000;
  text-transform: uppercase;
  padding-top: 30px;
}

.contact-us-container p {
  padding: 5px 10px;
  color: #000;
  width: 60%;
}

.contact-us-container .contact-us-content {
  width: 100%;
  padding: 25px 5px;
}

/* Mobile View */
@media only screen and (max-width: 700px) {
  .contact-us-container .contact-us-content {
    flex-flow: column-reverse;
    justify-content: center;
  }
}
